2.	List the S&P 500 companies that have the top 5 highest trailingPE, and the top 5 with highest forwardPE. Pick one of the companies in each case and explain if there was anything unusual about the company in the past year. Repeat the exercise for the 5 lowest ratios.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import importlib.util
package_name = 'yfinance'
spec = importlib.util.find_spec(package_name)
if spec is None:
    print(package_name +" is not installed")
    !pip install yfinance

import yfinance as yf

#single Stock
apple = yf.download('AAPL', 
                       start='2000-01-01', 
                       end='2022-12-31')

[*********************100%***********************]  1 of 1 completed

In [3]:
import pandas as pd

# There are 2 tables on the Wikipedia page, we want the first table
# second table shows the evolution of the changes

components = \
pd.read_html('https://en.wikipedia.org/wiki/List_of_S&P_500_companies')

first_table = components[0]
second_table = components[1]
sp_df = first_table
sp_df

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [4]:
SP500_PE=[]


for symbol in sp_df['Symbol']:
    try:
    #if symbol not in ['INFO', 'AES']:
        sym=symbol.replace('.', '-')  #For dual shares, eg, BRK.B, we have to change it to BRK-B
        ticker_yahoo = yf.Ticker(sym)
        print(symbol,round(ticker_yahoo.info['forwardPE'],2))
        SP500_PE.append(
            {
                "Ticker":sym,
                "trailingPE":ticker_yahoo.info['trailingPE'], 
                "forwardPE": ticker_yahoo.info['forwardPE'],
                "name": ticker_yahoo.info['longName']
            }
        )
    except:
        pass
    
SP500_PE=pd.DataFrame(SP500_PE)

MMM 10.44
AOS 18.45
ABT 23.55
ABBV 12.94
ACN 22.63
ATVI 18.16
ADM 11.05
ADBE 20.26
ADP 23.93
AAP 10.75
AES 10.91
AFL 10.87
A 20.31
APD 21.96
AKAM 13.73
ALK 6.37
ALB 9.66
ARE 31.49
ALGN 29.25
ALLE 15.32
LNT 17.13
ALL 9.17
GOOGL 19.24
GOOG 19.47
MO 8.64
AMZN 45.47
AMCR 13.85
AMD 25.43
AEE 17.77
AAL 4.72
AEP 15.49
AXP 12.18
AIG 7.04
AMT 39.75
AWK 28.1
AMP 9.04
ABC 13.72
AME 22.28
AMGN 11.94
APH 23.51
ADI 17.18
ANSS 31.2
AON 19.93
APA 5.36
AAPL 26.41
AMAT 18.51
APTV 15.54
ACGL 10.69
ANET 20.21
AJG 21.63
AIZ 9.48
T 6.69
ATO 18.22
ADSK 23.77
AZO 18.25
AVB 35.29
AVY 16.35
AXON 53.28
BKR 13.4
BALL 15.83
BAC 8.5
BBWI 9.72
BAX 12.85
BDX 18.44
WRB 10.26
BRK.B 18.3
BBY 10.53
BIO 23.76
TECH 34.04
BIIB 18.78
BLK 16.21
BK 7.83
BA 38.74
BKNG 16.49
BWA 7.57
BXP 23.3
BSX 24.06
BMY 8.16
AVGO 15.0
BR 20.31
BRO 23.51
BF.B 30.88
BG 7.92
CHRW 21.57
CDNS 35.82
CZR 19.64
CPT 60.33
CPB 17.01
COF 6.71
CAH 13.32
KMX 20.79
CCL 14.15
CARR 15.38
CTLT 12.85
CAT 11.68
CBOE 18.04
CBRE 13.02
CDW 16.63
CE 7.44
CNC 10.03
CNP 17.84
CDAY 37.51
CF 8.58
CRL 16.25
SCHW 12.4
CHTR 8.63
CVX 10.69
CMG 38.5
CB 9.87
CHD 28.21
CI 9.29
CINF 17.41
CTAS 32.63
CSCO 11.82
C 7.4
CFG 6.12
CLX 29.61
CME 20.44
CMS 17.56
KO 22.47
CTSH 13.41
CL 23.47
CMCSA 9.85
CMA 4.93
CAG 12.78
COP 9.77
ED 18.37
STZ 17.47
CEG 15.67
COO 26.84
CPRT 31.18
GLW 12.79
CTVA 16.13
CSGP 50.33
COST 31.81
CTRA 8.44
CCI 32.98
CSX 15.43
CMI 10.89
CVS 7.79
DHI 9.96
DHR 21.72
DRI 18.07
DVA 13.58
DE 11.52
DAL 5.2
XRAY 17.61
DVN 6.91
DXCM 79.06
FANG 6.02
DLR 63.75
DFS 7.03
DISH -68.6
DIS 17.47
DG 17.32
DLTR 20.04
D 14.15
DPZ 20.36
DOV 14.24
DOW 10.75
DTE 16.33
DUK 15.53
DD 13.28
DXC 5.97
EMN 8.95
ETN 18.35
EBAY 9.5
ECL 29.72
EIX 13.67
EW 30.33
EA 16.37
ELV 12.43
LLY 35.48
EMR 17.73
ENPH 22.46
ETR 14.2
EOG 8.29
EPAM 18.53
EQT 7.18
EFX 22.71
EQIX 68.24
EQR 36.65
ESS 36.06
EL 36.49
ETSY 30.64
RE 6.42
EVRG 15.16
ES 15.9
EXC 15.7
EXPE 7.94
EXPD 21.82
EXR 22.64
XOM 11.27
FFIV 11.1
FDS 24.03
FICO 32.48
FAST 25.34
FRT 31.09
FDX 12.34
FITB 7.3
FSLR 16.15
FE 14.41
FIS 8.6
FISV 14.25
FLT 11.76
FMC 12.25
F 7.06
FTNT 39.33
FTV 17.74
FOXA 10.06
FOX 12.31
BEN 9.52
FCX 15.99
GRMN 17.97
IT 29.1
GEHC 18.67
GEN 6.6
GNRC 14.25
GD 14.29
GE 25.8
GIS 20.01
GM 4.98
GPC 17.15
GILD 10.98
GL 9.6
GPN 8.78
GS 8.67
HAL 7.86
HIG 7.23
HAS 12.42
HCA 13.86
PEAK 36.45
HSIC 13.38
HSY 25.95
HES 15.12
HPE 6.66
HLT 21.52
HOLX 19.81
HD 17.82
HON 19.47
HRL 21.04
HST 18.13
HWM 21.37
HPQ 8.46
HUM 16.2
HBAN 7.33
HII 12.17
IBM 12.55
IEX 22.86
IDXX 43.96
ITW 22.18
ILMN 63.09
INCY 13.76
IR 20.01
PODD 147.72
INTC 16.5
ICE 18.04
IFF 14.77
IP 12.49
IPG 11.89
INTU 27.68
ISRG 48.01
IVZ 7.84
INVH 46.03
IQV 16.14
IRM 27.77
JBHT 17.82
JKHY 27.86
J 13.77
JNJ 14.45
JCI 15.26
JPM 9.92
JNPR 11.14
K 16.05
KDP 16.73
KEY 5.75
KEYS 18.5
KMB 20.49
KIM 28.55
KMI 13.82
KLAC 20.28
KHC 12.84
KR 10.9
LHX 13.98
LH 11.66
LRCX 22.24
LW 22.91
LVS 19.43
LDOS 10.72
LEN 10.67
LNC 2.53
LIN 24.25
LYV 59.03
LKQ 12.87
LMT 16.28
L 20.08
LOW 14.09
LYB 8.61
MTB 7.27
MRO 5.96
MPC 8.27
MKTX 33.33
MAR 19.44
MMC 21.1
MLM 22.09
MAS 13.98
MA 26.54
MTCH 13.16
MKC 30.72
MCD 24.25
MCK 13.25
MDT 16.94
MRK 13.47
META 16.67
MET 5.67
MTD 27.87
MGM 16.23
MCHP 11.8
MU 103.05
MSFT 28.75
MAA 30.72
MRNA -30.93
MHK 8.35
MOH 12.77
TAP 13.9
MDLZ 22.19
MPWR 30.1
MNST 33.32
MCO 27.73
MS 10.94
MOS 7.76
MSI 23.52
MSCI 31.38
NDAQ 18.94
NTAP 11.72
NFLX 23.86
NWL 6.98
NEM 13.12
NWSA 24.31
NEE 22.16
NKE 28.96
NI 16.23
NDSN 22.21
NSC 14.91
NTRS 10.59
NOC 18.24
NCLH 9.2
NRG 5.5
NUE 11.98
NVDA 49.39
NVR 13.25
NXPI 11.92
ORLY 22.64
OXY 10.21
ODFL 24.03
OMC 11.9
ON 15.95
OKE 11.89
ORCL 17.88
OGN 4.5
OTIS 21.64
PCAR 11.14
PKG 15.32
PARA 10.59
PH 14.93
PAYX 23.38
PAYC 29.56
PYPL 10.8
PNR 14.51
PEP 24.19
PFE 10.41
PCG 12.54
PM 13.61
PSX 8.31
PNW 16.85
PXD 8.74
PNC 8.86
POOL 20.03
PPG 17.45
PPL 16.14
PFG 9.31
PG 24.31
PGR 17.42
PLD 42.16
PRU 6.18
PEG 16.63
PTC 25.21
PSA 23.74
PHM 7.66
QRVO 12.58
PWR 20.73
QCOM 10.91
DGX 14.51
RL 12.15
RJF 8.99
RTX 16.77
O 40.43
REG 26.48
REGN 17.32
RF 7.39
RSG 24.88
RMD 30.43
RVTY 19.84
RHI 12.94
ROK 21.06
ROL 42.51
ROP 25.97
ROST 19.08
RCL 11.59
SPGI 25.03
CRM 23.55
SBAC 40.73
SLB 11.9
STX 25.06
SEE 10.2
SRE 15.31
NOW 42.46
SHW 22.88
SPG 15.91
SWKS 10.81
SJM 16.29
SNA 13.92
SEDG 23.7
SO 17.6
LUV 7.95
SWK 16.49
SBUX 25.65
STT 7.94
STLD 10.05
STE 21.42
SYK 25.31
SYF 5.4
SNPS 31.14
SYY 16.36
TMUS 14.72
TROW 15.11
TTWO 25.67
TPR 10.22
TRGP 10.78
TGT 15.31
TEL 16.27
TDY 19.96
TFX 16.79
TER 20.33
TSLA 35.63
TXN 20.44
TXT 11.11
TMO 19.63
TJX 20.04
TSCO 19.46
TT 18.94
TDG 28.05
TRV 10.64
TRMB 16.65
TFC 6.68
TYL 45.63
TSN 13.29
USB 6.41
UDR 58.75
ULTA 18.46
UNP 16.14
UAL 4.46
UPS 14.42
URI 7.99
UNH 17.24
UHS 11.86
VLO 8.25
VTR 127.33
VRSN 28.07
VRSK 34.02
VZ 7.7
VRTX 21.14
VFC 9.44
VTRS 3.23
VICI 12.55
V 23.81
VMC 25.65
WAB 16.25
WBA 6.67
WMT 22.02
WBD 24.06
WM 24.66
WAT 18.84
WEC 18.18
WFC 8.29
WELL 67.4
WST 40.01
WDC -24.49
WRK 9.87
WY 25.41
WHR 7.35
WMB 16.36
WTW 13.32
GWW 17.44
WYNN 24.15
XEL 18.29
XYL 27.65
YUM 23.22
ZBRA 14.94
ZBH 16.9
ZION 5.1
ZTS 29.48

In [5]:
SP500_PE

    Ticker trailingPE  forwardPE                                        name
0      MMM  10.349174  10.435416                                  3M Company
1      AOS  43.490444  18.454054                     A. O. Smith Corporation
2      ABT   33.17683  23.554113                         Abbott Laboratories
3     ABBV  34.459137  12.937726                                 AbbVie Inc.
4      ACN  26.065018  22.625597                               Accenture plc
..     ...        ...        ...                                         ...
456    YUM  31.986015  23.218275                           Yum! Brands, Inc.
457   ZBRA   34.47589  14.943345              Zebra Technologies Corporation
458    ZBH   63.96667  16.896856                Zimmer Biomet Holdings, Inc.
459   ZION   4.583188   5.101365  Zions Bancorporation, National Association
460    ZTS  41.135635  29.479406                                 Zoetis Inc.

[461 rows x 4 columns]

In [6]:
print(SP500_PE['trailingPE'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 461 entries, 0 to 460
Series name: trailingPE
Non-Null Count  Dtype
--------------  -----
461 non-null    object
dtypes: object(1)
memory usage: 3.7+ KB
None

In [8]:
# Convert 'trailingPE' column to numeric data type and drop any rows with missing values
SP500_PE['trailingPE'] = pd.to_numeric(SP500_PE['trailingPE'], errors='coerce')
#SP500_PE = SP500_PE.dropna(subset=['trailingPE'])
SP500_PE = SP500_PE.replace([float('inf'), float('-inf')], " ").dropna(subset=['trailingPE'])

# Sort the DataFrame by descending order of 'trailingPE' values
SP500_PE_sorted = SP500_PE.sort_values('trailingPE', ascending=False)

# Get the 5 rows with the highest 'trailingPE' values
top_5_trailingPE = SP500_PE_sorted.nlargest(5, 'trailingPE')

# Round 'trailingPE' values to 2 decimal places
top_5_trailingPE['trailingPE'] = top_5_trailingPE['trailingPE'].round(2)
top_5_trailingPE['forwardPE'] = top_5_trailingPE['forwardPE'].round(2)

# Display the top 5 rows
top_5_trailingPE[['Ticker','name','trailingPE']].head(5)

    Ticker                              name  trailingPE
100   CINF  Cincinnati Financial Corporation     5134.50
379    CRM                  Salesforce, Inc.     1046.90
185   FSLR                 First Solar, Inc.      582.67
25     AMD      Advanced Micro Devices, Inc.      546.05
448   WELL                    Welltower Inc.      310.04

In [9]:
# Get the 5 rows with the lowest 'trailingPE' values
bottom_5_trailingPE = SP500_PE_sorted.nsmallest(5, 'trailingPE')

# Round 'trailingPE' values to 2 decimal places
bottom_5_trailingPE['trailingPE'] = bottom_5_trailingPE['trailingPE'].round(2)
bottom_5_trailingPE['forwardPE'] = bottom_5_trailingPE['forwardPE'].round(2)

# Display the bottom 5 rows
bottom_5_trailingPE[['Ticker','name','trailingPE']].head(5)

    Ticker                            name  trailingPE
138   DISH        DISH Network Corporation        1.99
164    EQT                 EQT Corporation        2.90
432    VLO       Valero Energy Corporation        3.29
278    MPC  Marathon Petroleum Corporation        3.52
344    PSX                     Phillips 66        3.71

In [10]:
# Convert 'forwardPE' column to numeric data type and drop any rows with missing values
SP500_PE['forwardPE'] = pd.to_numeric(SP500_PE['forwardPE'], errors='coerce')
SP500_FPE = SP500_PE.dropna(subset=['forwardPE'])

# Sort the DataFrame by descending order of 'forwardPE' values
SP500_PE_sorted_1 = SP500_FPE.sort_values('forwardPE', ascending=False)

# Get the 5 rows with the highest 'forwardPE' values
top_5_forwardPE = SP500_PE_sorted_1.nlargest(5, 'forwardPE')

# Round 'forwardPE' values to 2 decimal places
top_5_forwardPE['trailingPE'] = top_5_forwardPE['trailingPE'].round(2)
top_5_forwardPE['forwardPE'] = top_5_forwardPE['forwardPE'].round(2)

# Display the top 5 rows
top_5_forwardPE[['Ticker','name','forwardPE']].head(5)

    Ticker                        name  forwardPE
296     MU     Micron Technology, Inc.     103.05
134   DXCM                DexCom, Inc.      79.06
166   EQIX               Equinix, Inc.      68.24
448   WELL              Welltower Inc.      67.40
136    DLR  Digital Realty Trust, Inc.      63.75

In [11]:
# Get the 5 rows with the lowest 'forwardPE' values
bottom_5_forwardPE = SP500_PE_sorted_1.nsmallest(5, 'forwardPE')

# Round 'forwardPE' values to 2 decimal places
bottom_5_forwardPE['trailingPE'] = bottom_5_forwardPE['trailingPE'].round(2)
bottom_5_forwardPE['forwardPE'] = bottom_5_forwardPE['forwardPE'].round(2)

# Display the bottom 5 rows
bottom_5_forwardPE[['Ticker','name','forwardPE']].head(5)

    Ticker                            name  forwardPE
138   DISH        DISH Network Corporation     -68.60
299   MRNA                   Moderna, Inc.     -30.93
438   VTRS                    Viatris Inc.       3.23
427    UAL  United Airlines Holdings, Inc.       4.46
331    OGN                   Organon & Co.       4.50